<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.genshuixue.student" platformBuildVersionCode="21" platformBuildVersionName="5.0.1-1624448">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application android:allowBackup="true" android:hardwareAccelerated="false" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name=".MyApplication" android:theme="@style/Theme.IOSched">
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.WelcomeActivity" android:screenOrientation="portrait" android:theme="@style/Theme_Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="open.com" android:scheme="bjhlstudent"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.FeedbackActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.MapSearchResultActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.RewardNoticeActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.VirifyCodeLoginActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.TeacherHistoryCourseActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:launchMode="singleTask" android:name="com.genshuixue.student.activity.SystemMessageActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ChoosePriceActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.HelpFindTeacherCategoryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.QuickClassRoomActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ViewAvatarActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.CommentChooseTeacherActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:launchMode="singleTask" android:name="com.genshuixue.student.activity.HelpFindTeacherHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:launchMode="singleTask" android:name=".activity.FoundTeacherActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.NewChangeCityActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.BlankActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.OrderDetailAppealActivity" android:screenOrientation="portrait" android:theme="@style/MyTheme.Dialog"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.WantCommentActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.AboutUsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.CancleOrderActivity" android:screenOrientation="portrait" android:theme="@style/MyTheme.Dialog"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.CommentCourseActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.AddBankCardSecondActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.AppealActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.EditTextActivity" android:screenOrientation="portrait" android:theme="@style/MyTheme.Dialog"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ChooseBankLocationActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.InputPayPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.AddBankCardFirstActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.DrawcashFirstActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.CurrentBankCardActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.SafetySettingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.DrawcashSuccessActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ModifyLoginPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ModifyPayPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ModifyPayPasswordSecStepActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.MyWalletActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.PayActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.PayOrderActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.MyCreditActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.GuideActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ChooseCountryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.TeacherRangeActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.TeacherSexActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.StudyTypeActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.StudyTypeType2Activity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.StudyTimeActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.StudyTimeType2Activity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:name="com.genshuixue.student.activity.QuestionChatWebviewActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:name="com.genshuixue.student.webview.MyWebViewActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:name="com.genshuixue.student.webview.MyTeacherDetailWebViewActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:name="com.genshuixue.student.activity.ChoosePriceRangeActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.PushActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.RecommendForMeActivity" android:screenOrientation="portrait" android:theme="@style/MyTheme.Dialog"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:name="com.genshuixue.student.activity.MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ConfirmOrderActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.PersonnalInfoActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ChooseBankActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ViewQuestionPicActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.TakePhotoActivity" android:screenOrientation="portrait" android:theme="@style/MyTheme.Dialog"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ChooseSexActivity" android:screenOrientation="portrait" android:theme="@style/MyTheme.Dialog"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ForgetPassOneActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ForgetPassTwoActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.AllCategoryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.AllCourseCategoryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.DetailedCategoryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.FilterCategoryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.SearchHistorySuggestionActivity" android:screenOrientation="portrait" android:theme="@style/myTransparent" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.NewSearchHistorySuggestionActivity" android:screenOrientation="portrait" android:theme="@style/myTransparent" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ChangeCityActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:name="com.genshuixue.student.activity.OrderActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.CourseAddressActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:launchMode="singleTask" android:name="com.genshuixue.student.activity.QuestionAskActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:name="com.genshuixue.student.activity.QuestionMyActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.CancleCourseActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:name="com.genshuixue.student.activity.SearchActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.AppointmentDateActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.AppointmentTimeActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:name="com.genshuixue.student.activity.MyLearnCreditActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.AppointmentRepeatActiviy" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.TeacherInfoActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:launchMode="singleTask" android:name=".activity.TeacherInfoActivityV2" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.TeacherLessonTimeActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.RegisterOneStepActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.RegisterTwoStepActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.TeacherCommentsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.TeacherPhotosActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.ChooseCourseActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.ViewPhotoActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.TeacherAlbumViewActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.VideoPlayerActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.view.image.RectangleImageActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:exported="false" android:name="com.alipay.sdk.app.H5PayActivity" android:screenOrientation="behind"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:exported="false" android:name="com.alipay.sdk.auth.AuthActivity" android:screenOrientation="behind"/>
        <activity android:configChanges="keyboardHidden|orientation" android:launchMode="singleTask" android:name="com.letv.android.sdk.play.BasePlayActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ClauseActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.FamousTeacherVideoActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.TeacherVideoCourseActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:name="com.genshuixue.student.activity.MyScheduleDetailActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:name="com.genshuixue.student.activity.DialogContainerActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.LbsActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.MyCouponActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.DrawcashChooseBankActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:name="com.genshuixue.student.activity.MyVideoCourseActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.BoundCardActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:name="com.genshuixue.student.activity.RecentContactActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:name="com.genshuixue.student.activity.HelpFindTeacherActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.DrawCashActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.PayResultActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.TeacherArrangeCourseActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.BuyCourseActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ImGroupDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ImGroupMembersActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.BalanceRechargeFristStepActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.BalanceRechargeSecondStepActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="false" android:name="com.genshuixue.student.activity.ShowCommentPhotoActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.dialog.ToCommentAppDialog" android:screenOrientation="portrait" android:theme="@style/MyTheme.Dialog"/>
        <service android:enabled="true" android:name="com.baidu.location.f" android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"/>
            </intent-filter>
        </service>
        <service android:name="com.easemob.chat.EMChatService"/>
        <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="KjFqmVDHchXi1OiyPy7jgn3w"/>
        <meta-data android:name="EASEMOB_APPKEY" android:value="baijiahulian#baijiahulian"/>
        <activity android:name="com.umeng.fb.ConversationActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.umeng.fb.ContactActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <service android:name="com.umeng.update.net.DownloadingService" android:process=":DownloadingService"/>
        <service android:name="com.genshuixue.student.util.PollingService"/>
        <activity android:name="com.umeng.update.UpdateDialogActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.TeacherClassActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.MyTeacherDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:launchMode="singleTask" android:name=".chat.ChatActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:launchMode="singleTask" android:name=".chat.ChatHistoryActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".chat.ShowBigImage" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.unionpay.uppay.PayActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.MyCollectionActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.AddBankCardFirstStepsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.AddBankCardSecondStepsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ChooseBankCardActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ChooseWhichBankCardActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ChooseBankCardForBalanceActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.RecommandToFriendActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.ChooseWhichBankCardForBalanceActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.TitleVideoPlayerActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.TeacherDetailDiscountActivity" android:screenOrientation="portrait" android:theme="@style/MyTheme.Dialog"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.webview.VideoPlayActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.genshuixue.student.activity.OnlineCourseReminderActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.AddressLocationSelectActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.TeacherAroundActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.TeacherAroundActivity2" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.AddressSelectActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.google.zxing.client.android.activity.CaptureActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.NewLoginActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.NewRegisterActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.NewBoundAccountActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.ThirdCallActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:launchMode="singleTask" android:name=".activity.TeacherUsableTimeActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.ChooseYourInterestingActivity" android:screenOrientation="portrait"/>
        <service android:name=".IndexLaunchGetDataService">
            <intent-filter>
                <action android:name="com.genshuixue.student.index.action"/>
            </intent-filter>
        </service>
        <activity android:configChanges="keyboardHidden|orientation" android:exported="true" android:launchMode="singleTop" android:name="com.genshuixue.student.wxapi.WXPayEntryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.ThirdApproveActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.GuessYourCourseActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.BaiduTipsActivity" android:screenOrientation="portrait" android:theme="@style/MyTheme.Dialog"/>
        <receiver android:name="com.genshuixue.student.MyPushOnClickReceiver"/>
        <service android:name="com.jockeyjs.JockeyService"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="cn.sharesdk.framework.ShareSDKUIShell" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <data android:scheme="tencent1103424130"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.genshuixue.student.wxapi.WXEntryActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:name="com.genshuixue.student.BaiduPushMessageReceiver">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.MESSAGE"/>
                <action android:name="com.baidu.android.pushservice.action.RECEIVE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver" android:process=":bdservice_v1">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW"/>
                <action android:name="com.baidu.android.pushservice.action.media.CLICK"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver" android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD"/>
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.baidu.android.pushservice.PushService" android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.baidu.android.pushservice.CommandService"/>
        <receiver android:name="com.easemob.chat.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>
        <service android:name=".TelephonyService"/>
        <meta-data android:name="UMENG_APPKEY" android:value="543b7dedfd98c5178a04d841"/>
        <meta-data android:name="APP_SERVICE_CONFIG" android:value="1"/>
    </application>
</manifest>
